body {
    font-family: 'Arial', sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
}

.widget-container {
    max-width: 750px !important;
    margin: 20px auto !important;
    background-color: #f5f5f5 !important;
    padding: 20px !important;
    border-radius: 8px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.show-more-btn {
    color: blue !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.show-more-btn:hover {
    color: darkblue !important;
}

.header {
    text-align: center !important;
    margin-bottom: 20px !important;
    width: 100% !important;
    order: -1 !important;
}

.header h2 {
    font-size: 24px !important;
    color: #333 !important;
}

.header p {
    font-size: 18px !important;
    color: #666 !important;
    margin: 8px 0 !important;
}

.review {
    padding: 10px !important;
    border: 1px solid #ddd !important;
    overflow-y: auto !important;
    width: 300px !important;
    height: 200px !important;
}

.review img {
    width: 43px !important;
    height: 43px !important;
}

.rating {
    color: #ffcc00 !important;
    font-size: 1.2em !important;
}

.rating::before {
    content: '\2605' !important;
    margin-right: 2px !important;
}

.rating::after {
    content: '\2605' !important;
    margin-left: 2px !important;
    color: #ddd !important;
}

.star {
    color: #ffcc00 !important;
    font-size: 24px !important;
    margin-right: 2px !important;
}

.star.half {
    position: relative !important;
    display: inline-block !important;
    margin-right: 2px !important;
    overflow: hidden !important;
}

.star.half:before {
    content: '\00BD' !important;
    position: absolute !important;
    left: 0 !important;
}

.pagination-button.active {
    background-color: #007bff !important;
    color: #fff !important;
}

.button {
    background-color: #007bff !important;
    color: #fff !important;
    padding: 15px 20px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
}

.button:hover {
    background-color: #0056b3 !important;
}

.review-details {
    display: flex !important;
    align-items: flex-start !important;
    flex-wrap: wrap !important;
}

.review-details p {
    margin: 2px !important;
}

.review-details p strong {
    display: block !important;
    margin-bottom: 2px !important;
}

.review-details p:nth-of-type(3) {
    margin-bottom: 5px !important;
}

.review-details p strong + p {
    margin-bottom: 2px !important;
}

.details-right {
    flex-grow: 1 !important;
    max-width: 220px !important;
    text-align: left !important;
}

.publisher-icon {
    margin-right: 10px !important;
    flex-shrink: 0 !important;
}

.center-button {
    text-align: center !important;
}

.comment-section {
    margin-bottom: 30px !important;
    padding: 15px !important;
    padding-left: 100px !important;
    margin-top: -21px !important;
    border: 1px solid #ddd !important;
}

.pagination-container {
    margin-top: 20px !important;
    text-align: center !important;
    margin-bottom: 20px !important;
}

.pagination-button {
    margin: 0 5px !important;
    cursor: pointer !important;
    border: 1px solid #ccc !important;
    padding: 5px 10px !important;
    border-radius: 5px !important;
}

.recommended-text {
    color: green !important;
    font-weight: bold !important;
}

.not-recommended-text {
    color: red !important;
    font-weight: bold !important;
}

.overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 99999 !important;
}

.customer-form {
    position: relative !important;
    background-color: #fff !important;
    padding: 20px !important;
    border-radius: 8px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
    max-width: 500px !important;
    margin: auto !important;
    text-align: center !important;
    color: black !important;
    z-index: 9999 !important;
}

button.pagination-button {
    color: black !important;
}

.customer-form label {
    display: block !important;
    margin-bottom: 8px !important;
}

.customer-form input {
    width: 100% !important;
    padding: 8px !important;
    margin-bottom: 16px !important;
    box-sizing: border-box !important;
}

.customer-form button {
    background-color: #007bff !important;
    color: #fff !important;
    padding: 10px 15px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
}

.customer-form button:hover {
    background-color: #0056b3 !important;
}

.close-button {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    cursor: pointer !important;
    font-size: 20px !important;
    color: #333 !important;
}

.center-button {
    text-align: center !important;
    margin-bottom: 20px !important;
}

.add-customer-text {
    color: #888 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.add-customer-text:hover {
    color: #666 !important;
}

.hero-rating {
    font-size: 2em !important;
    font-weight: bold !important;
    color: #333 !important;
    margin: 0 !important;
}

.disclaimer {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 16px !important;
}

#agree-checkbox {
    margin-right: 20px !important;
}

.review-carousel-container {
    text-align: center !important;
    height: 200px !important;
    width: 300px !important;
    position: relative !important;
    overflow: hidden !important;
}

.review-carousel-container:hover .arrow-button {
    opacity: 1 !important;
}

.pagination-button {
    background-color: transparent !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 24px !important;
}

#prev-button {
    left: 10px !important;
    color: black !important;
}

#next-button {
    right: 10px !important;
    color: black !important;
}

.arrow-button {
    background-color: transparent !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 18px !important;
    position: absolute !important;
    top: 38% !important;
    transform: translateY(-50%) !important;
    opacity: 1 !important;
    transition: opacity 0.3s !important;
    z-index: 10 !important;
}

.review-carousel {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 300px !important;
    height: 200px !important;
    position: relative !important;
    font-size: 13px !important;
}
